<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>array-key</key>
	<array>
		<integer>0</integer>
		<real>1.5</real>
	</array>
	<key>dictionary-key</key>
	<dict>
		<key>number-key</key>
		<integer>0</integer>
		<key>string-key</key>
		<string>string-val</string>
		<key>false-key</key>
		<false/>
		<key>true-key</key>
		<true/>
		<key>empty-string-key</key>
		<string></string>
	</dict>
</dict>
</plist>
